<nav class="navbar navbar-expand-lg navbar-dark bg-black" height="40">
    <img src="../../assets/logo2.png" height="40" width="125" alt="" class="d-inline-block align-top" loading="lazy">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <span></span>
            <a class="nav-item nav-link ml-3 " routerLink="Loan-form">New Loan</a>
            <a class="nav-item nav-link" routerLink="Loan">View Loan</a>
        </div>
    </div>
</nav>